/*
#sosyal{
width: 180px;
height: 40px;
border-style: dotted;
border-width: 1px;
background-color: rgb(255, 255, 255);
float: right;
position: relative;
top: 50px;
right: 10px;


}
#sayfa{
width: 400px;
min-height: 600px;
border-style: solid;
border-width: 1px;
margin: auto;

}

#banner{
    width: 398px;
    height: 100px;
    border-style: dotted;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0.308);
    margin: auto;
}

#logo{

width: 100px;
height: 80px;
border-style: none;
border-width: 1px;
background-color: rgb(255, 255, 255);
position: relative;
top: 10px;
left: 10px;
float: left;
}
*{
    margin: 0px;
    padding: 0px;

} */
#ikon{
width: 50px;
height: 45px;
}
#medya{
    border-style: inset;
    background-color: rgba(117, 123, 136, 0.877);
    float: left;
    position: relative;
    top: 25px;
    border-width: medium;
    border-radius: 5px;
    font-weight: bolder;
    font-style: italic;

   
}

#baslik{
    border-style: inset;
    border-color: rgba(64, 64, 71, 0.055);
    background-color: rgba(117, 123, 136, 0.877);
    box-shadow: 10px 10px 10px rgb(55, 3, 90);
    border-radius: 5px;
    font-weight: bolder;
    font-style: italic;
}
#paragraf{
 text-indent: 40px;
text-align: left;


}
#bicim{
    color:rgba(4, 4, 10, 0.932);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bolder;
    border-style: inset;
    border-width: 5px;
}
#abaslik{
    border-style: inset;
    border-color: rgba(114, 114, 124, 0.123);
    background-color: rgba(117, 123, 136, 0.877);
    border-radius: 5px;
    font-weight: bolder;
    font-style: italic;
    
}
#foto{

border:  solid #CCCCCC;
background-color: #FFFFFF;
margin: 10px 15px;
object-fit: contain;
width: 400px;
height: 400px;
border-color: black;

}
#baslik3{
    

    border-style: inset;
    border-radius: 5px;
    font-weight: bolder;
    font-style: italic;
    color:black;
    box-shadow: 10px 10px 10px rgb(54, 1, 1) ;
    
}
#mirbas{

    border-style: solid;
    border-radius: 3px;
    font-weight: bolder;
    background-color: gray;
    box-shadow:10px 10px 10px indigo;

}
#lobaslik{
border-style: solid;

    border-radius: 3px;
    font-weight: bolder;
    background-color: gray;
    box-shadow:10px 10px 10px indigo;

}

